## Load data

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 200)

cartoons = list(range(510,854))
df_2 = pd.DataFrame()
for cartoon in cartoons:
    if cartoon != 525:
        if cartoon >= 660:
            df = pd.read_csv(f'https://nextml.github.io/caption-contest-data/summaries/{cartoon}.csv')
        elif cartoon < 660 and cartoon >= 560:
            df = pd.read_csv(f'https://nextml.github.io/caption-contest-data/summaries/{cartoon}_lil-KLUCB.csv')
        elif cartoon <= 560 and cartoon != 540:
            df = pd.read_csv(f'https://nextml.github.io/caption-contest-data/summaries/{cartoon}_LilUCB.csv')
        elif cartoon == 540:
            df = pd.read_csv('https://nextml.github.io/caption-contest-data/summaries/540_Random.csv')
        df.reset_index(inplace=True)
        df['contest_num'] = cartoon
        df_1 = df.rename(columns = {'index':'ranking'})
        df_2 = pd.concat([df_2, df_1], ignore_index=True)

In [2]:
print(cartoons)
print(df_2.shape)
df_2.drop("rank", axis=1, inplace=True)
df_2.head()

[510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853]
(2057227, 10)

,ranking,caption,mean,precision,votes,not_funny,somewhat_funny,funny,contest_num
0,0,I'm a congressman--obstruction is my job.,1.913043,0.094022,69,24,27,18,510
1,1,"I'm what they mean when they say, 'The middle class is getting stepped on.'",1.842105,0.191381,19,8,6,5,510
2,2,Does this suit make me look flat?,1.711111,0.112915,45,21,16,8,510
3,3,"When the right woman comes along, I'll know it.",1.625000,0.116657,32,15,14,3,510
4,4,"I used to lie in the gutter, but then I quit drinking.",1.617647,0.133610,34,19,9,6,510

In [3]:
df_2.tail()

,ranking,caption,mean,precision,votes,not_funny,somewhat_funny,funny,contest_num
2057222,4675,It can’t be authentic - Swi,1.033898,0.016730,118,114,4,0,853
2057223,4676,I try all cheese. I eat what I can.,1.030303,0.017316,99,96,3,0,853
2057224,4677,A cheese board for the whole ship? Where’s the iceberg lettuce?,1.029703,0.016977,101,98,3,0,853
2057225,4678,Swiss has no place on our cheese board! Let's hope it drifts toward a cruise ship.,1.029126,0.016650,103,100,3,0,853
2057226,4679,In search of the great white Swiss,1.018349,0.012914,109,107,2,0,853

In [ ]:
df_2.to_csv('D:/Courses/Capstone/MySQL/clean_data/660_699.csv', sep=',', index=False)